<!DOCTYPE html>
<html>
  <head>
    <title> Create a Cat!! </title>
  </head>
  <body>
  <h1>Please Enter Your Credentials</h1>
  <form action="/session" method="POST">
    <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
    Username: <input type="text" name="session[user_name]" ><br>
    Password:&nbsp; <input type="password" name="session[password]">
    <br>
    <input type="submit" value = "Login">
  </form>
  </body>
</html>