<!DOCTYPE html>
<html>
  <head>
    <title> Create a Cat!! </title>
  </head>
  <body>
    <h1>Please modify <%= @cat.name %>'s attributes</h1>
    <br>
    <br>

    <%= render "form", :cat => @cat %>

  </body>
</html>